
header nav {
    border-bottom: none;
}
.hero {
    min-height: calc(100vh - 85px);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    background-color: #F8F0EA;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}
.hero .container .heading {
    position: absolute;
    bottom: 30%;
}
.hero .container .heading h6 {
    margin-bottom: -6px;
    font-size: clamp(0.7rem, 5vw, 0.8rem);
}
.hero .container .heading h6 a {
    color: #222;
}
.hero .container .heading h1 {
    color: #222;
    text-transform: capitalize;
    font-size: clamp(2rem, 5vw, 3.5rem);
}
.hero .container i {
    font-size: 1.6rem;
    color: #555;
    position: absolute;
    bottom: 150px; left: 50%;
    transform: translateX(-50%);
    text-align: center;
    animation: up-down 2s infinite;
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    25% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
